main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
form label {
    font-size: large;
}

form label input {
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form label input:active,
form label input:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border: 1px solid #d8d8d8;  
}

form fieldset {
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: large;
}

main form button {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #ccc;
  cursor: pointer;
}

main form button:hover,
main form button:active {
  background-color: #d8d8d8;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

